body {
  background-color: rgb(30, 29, 29);
}
.button-container {
margin: 3px 8px;
}
#calculator {
border: 2px solid rgb(37, 35, 35);
height: fit-content;
width: 160px;
border-radius: 10px;
}
#display{
height: 80px;
width: 143px;
/* margin: 1px 2px; */
padding: 9px;
background-color: black;
color: white;
border: none;
}
.button {
  height: 31px;
  width: 31px;
  margin: 1px 1px;
  padding: auto;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
}
.equal-button {
  height: 60px;
  width: 30px;
  margin: 1px 2px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: white;
}
.primary-button {
   height: 30px;
   width: 30px;
   margin: 2px 2px; 
   border: none;
   border-radius: 3px;
   background-color: black;
   color: white;
}
#divide {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}
#multiple {
  border: none;
  border-radius: 3px;
  background-color: #25e09c;
}